.item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item1 p {
    font-size: 20px; }
  .item1:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item1 img {
    border-radius: 50px 25px; }

.item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item2 p {
    font-size: 20px; }
  .item2:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item2 img {
    border-radius: 50px 25px; }

.item3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item3 p {
    font-size: 20px; }
  .item3:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item3 img {
    border-radius: 50px 25px; }

.item4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item4 p {
    font-size: 20px; }
  .item4:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item4 img {
    border-radius: 50px 25px; }

.item5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item5 p {
    font-size: 20px; }
  .item5:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item5 img {
    border-radius: 50px 25px; }

.item6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item6 p {
    font-size: 20px; }
  .item6:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item6 img {
    border-radius: 50px 25px; }

.item7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item7 p {
    font-size: 20px; }
  .item7:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item7 img {
    border-radius: 50px 25px; }

.item8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item8 p {
    font-size: 20px; }
  .item8:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item8 img {
    border-radius: 50px 25px; }

.item9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  border-left: 2px;
  border-radius: 10px;
  border: 2px solid black; }
  .item9 p {
    font-size: 20px; }
  .item9:hover {
    transform: rotateX(2deg);
    background-color: #c3f6fa;
    border-left: 10px solid red;
    transition-duration: 1.5s;
    border-radius: 25px;
    box-shadow: 5px 5px; }
  .item9 img {
    border-radius: 50px 25px; }

.raro-titulo {
  color: #020202; }

.raro-parraf {
  color: #3b3b3b; }

.raro-rellen {
  color: red; }

.raro-mas-rellen {
  color: #2600ff; }

.first-var {
  height: 300px;
  width: 300px;
  margin: 5px;
  display: inline-flex;
  background-color: #c3f6fa;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin: 20px; }

header {
  background-color: black;
  color: white; }
  header div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box; }
    header div img {
      border-radius: 15px;
      animation: move-img;
      animation-timing-function: ease;
      animation-duration: 3s;
      animation-iteration-count: 1; }
    header div h1 {
      animation: move-title;
      animation-timing-function: ease;
      animation-duration: 3s;
      animation-iteration-count: 1; }
  header .nav-head ul {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    padding: 3px; }
  header .nav-head li {
    list-style: none;
    font-weight: 700; }
    header .nav-head li:hover {
      background-color: white;
      border-radius: 10px;
      transition-duration: 1.2s; }
  header .nav-head a {
    text-decoration: none;
    color: white; }
    header .nav-head a:hover {
      color: black;
      transition-duration: 1.2s;
      font-weight: 700; }

@keyframes move-title {
  0% {
    transform: translateX(700px); }
  50% {
    transform: skew(-10deg); }
  51% {
    transform: skew(0deg); } }

@keyframes move-img {
  0% {
    transform: translateX(-500px); }
  50% {
    transform: skew(10deg); }
  53% {
    transform: skew(0deg); } }

footer {
  background-color: black; }
  footer div {
    display: flex;
    padding: 5px; }
    footer div ul {
      padding: 5px;
      margin: 0; }
      footer div ul li {
        list-style: none;
        font-size: 12px; }
      footer div ul a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        margin: 5px; }
        footer div ul a:hover {
          background-color: white;
          border-radius: 5px;
          text-decoration: none;
          color: black;
          transition-duration: 2s;
          font-weight: 600; }
  footer p {
    color: white;
    text-align: end;
    font-size: 10px;
    padding-right: 3px;
    margin: 0; }

.main-content {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto);
  grid-template-rows: repeat(auto);
  grid-template-areas: "item-1 item-2 item-3" "item-4 item-5 item-6" "item-7 item-8 item-9";
  grid-gap: 10px;
  margin: 25px; }

.tabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  scroll-margin-left: 200px;
  text-align: center; }
  .tabla table {
    font-size: 20px;
    border: 2px solid black; }

.main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }

@media screen and (max-width: 768px) {
  header div img {
    animation: none; }
  header div h1 {
    animation: none; }
  .nav-head a {
    font-size: 12px; } }

@media screen and (max-width: 1024px) {
  header div img {
    animation: none; }
  header div h1 {
    animation: none; } }

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }
