
.main-content{
    padding: $spacio-5*2;
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    grid-template-areas: 
    "item-1 item-2 item-3"
    "item-4 item-5 item-6"
    "item-7 item-8 item-9"
    ;
    grid-gap: $spacio-10;
    margin: $spacio-25;
}
.tabla{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    scroll-margin-left: 200px ;
    text-align: center;
    table{
        font-size: 20px;
        border: 2px solid black;
    }
}
.main-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacio-10;
}
