//color
$color-back: rgb(0, 0, 0);
$color-text: rgb(255, 255, 255);
$back-color1:rgb(195, 246, 250);
$bor-rad-1: 10px solid rgb(255, 0, 0);
$bordesito2: 2px solid rgba(0, 0, 0, 0.459);
$bordesito1: 1px solid rgba(0, 0, 0, 0.459);
$bor-rad: 5px solid rgb(255, 166, 0);
//font
$font-5: 5px;
$font-10: 10px;
$font-25: 25px;

//medidas
$spacio-5: 5px;
$spacio-10: 10px;
$spacio-25: 25px;
$spacing-5: 5px;
//width-height
$width: 100px;
$width-2: 200px;
$height: 100px;
$height-2: 200px;
//bucles
@for $it from 1 to 10{
    
    .item#{$it}{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        max-height: 100px;
        border-left: $spacio-5 - 3;
        border-radius: $spacio-5*2;
        border: 2px solid rgb(0, 0, 0);
        p{
            font-size: $font-25 - 5;
        }
        &:hover{
            transform:rotateX(2deg) ;
            background-color: $back-color1;
            border-left: $bor-rad-1;
            transition-duration: 1.5s;
            border-radius: $spacio-25;
            box-shadow: $spacio-5 $spacio-5;
        }
        img{
            border-radius: $spacio-25*2 $spacio-25;
        }
    }
}
//Maps
$archivos:(
    titulo: rgb(2, 2, 2),
    parraf: rgb(59, 59, 59),
    rellen: rgb(255, 0, 0),
    mas-rellen: rgb(38, 0, 255),
);
@each $raro, $element in $archivos{
    .raro-#{$raro}{
        color: $element;
    }
    
};

// Mixis
@mixin size ($alto, $ancho, $espaciado){
    height: $alto;
    width: $ancho;
    margin: $espaciado;
}

.first-var{
    @include size($height*3, $width*3, $spacing-5);
    display: inline-flex;
    background-color: $back-color1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}