//color
$color-back: rgb(0, 0, 0);
$color-text: rgb(255, 255, 255);

//font
$font-5: 5px;
$font-10: 10px;
$font-25: 25px;

//medidas
$spacio-5: 5px;
$spacio-10: 10px;
$spacio-25: 25px;

//bucles
@for $it from 1 to 10{
    
    .item#{$it}{

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}